<script lang="ts" setup>
import { injectMandatory, VfDeleteButton, VfEditButton, type Entity, type ModuleConfiguration } from "@/vf"
import { ref } from "vue"

defineProps<{
    item: Entity
}>()
const config = injectMandatory<ModuleConfiguration>("module-config", "VfShowToolbar must be used inside VfEdit")

const confirm = ref<HTMLElement>()
</script>

<template>
    <div>
        <VfEditButton v-if="config.show.editButton(item)"></VfEditButton>
        <VfDeleteButton v-if="config.show.deleteButton(item)" :confirm-teleport-target="confirm"></VfDeleteButton>
    </div>
    <div ref="confirm"></div>
</template>
