<script lang="ts" setup>
import type { Entity, ModuleConfiguration } from "@/vf"
import { provide } from "vue"

const props = withDefaults(
    defineProps<{
        config: ModuleConfiguration
        item: Entity
        header?: boolean
        toolbar?: boolean
    }>(),
    {
        header: true,
        toolbar: true,
    },
)

provide("module-config", props.config)
provide("item", props.item)
provide("current-page", "show")

// const mode = props.config.show.page(props.item).mode
</script>

<template>
    <slot />
</template>
