<script lang="ts" setup>
import { injectMandatory, type ModuleConfiguration } from "@/vf"
import { VfNewButton } from "@/vf/components"

const config = injectMandatory<ModuleConfiguration>(
    "module-config",
    "VfListToolbar must be used inside an element that provides module-config like VfEdit or VfShow.",
)
</script>

<template>
    <VfNewButton v-if="config.list.newButton()"></VfNewButton>
</template>
