<script lang="ts" setup>
import type { ModuleConfiguration } from "@/vf"
import { injectMandatory } from "@/vf"
import type { ListState } from "@/vf/components/crud/list/types"

const config = injectMandatory<ModuleConfiguration>(
    "module-config",
    "VfListSearch must be used inside an element that provides module-config like VfEdit or VfShow.",
)
const listState = injectMandatory<ListState>(
    "list-state",
    "VfListSearch must be used inside an element that provides list-state like VfList.",
)
</script>

<template>
    <div class="search">
        <form @submit.prevent="listState.refresh">
            <div class="d-flex">
                <div class="search-icon">
                    <i class="fas fa-fw fa-search"></i>
                </div>
                <input
                    v-model="listState.searchValue"
                    type="text"
                    class="form-inline search-field flex-grow-1"
                    :placeholder="$t('crud:list.search')"
                />
                <select
                    v-for="field in config.list.filterFields"
                    :key="field.name"
                    v-model="listState.filter[field.field]"
                    class="form-control form-inline w-auto"
                    @change="listState.refresh"
                >
                    <option :value="undefined">[ {{ field.name }} ]</option>
                    <option v-for="item in field.items" :key="item.value + item.name" :value="item.value">
                        {{ item.name }}
                    </option>
                </select>
            </div>
        </form>
    </div>
</template>
