<script setup lang="ts">
import { useDelayedAction } from "../composables"

const props = defineProps<{
    delay: number
    startImmediately?: boolean
}>()

const emit = defineEmits<{
    (e: "action"): void
}>()

const action = useDelayedAction(
    props.delay,
    () => {
        emit("action")
    },
    props.startImmediately,
)
</script>
<template>
    <slot v-bind="{ startTimer: action.start, stopTimer: action.stop }"></slot>
</template>
