<script setup lang="ts">
import { useToaster, type Toast } from "@/vf"

const toaster = useToaster()

function close(toast: Toast) {
    toaster.remove(toast)
}

function buttonClicked(toast: Toast, button: any) {
    button.action()
    close(toast)
}
</script>

<template>
    <div class="flying-toasts">
        <div v-for="(toast, idx) of toaster.toasts" :key="idx" :class="'alert ' + toast.alert_class">
            <button class="close" @close="close(toast)"><i class="fa fa-times"></i></button>
            <strong>{{ toast.title }}</strong>
            <p>{{ toast.message }}</p>
            <button
                v-for="(button, bidx) of toast.buttons"
                :key="bidx"
                type="button"
                :class="'btn btn-' + (button.type ? button.type : 'secondary')"
                @click="buttonClicked(toast, button)"
            >
                <i v-if="button.icon" :class="'fa fa-fw ' + button.icon"></i>
                <span>{{ $t(button.label) }}</span>
            </button>
        </div>
    </div>
</template>
