<script lang="ts" setup generic="T">
import VfProvide from "@/vf/components/VfProvide.vue"
import { provide } from "vue"

const props = defineProps<{
    items: T[]
}>()

provide("sortable-items", props.items)
</script>

<template>
    <template v-for="(item, index) of props.items" :key="item">
        <VfProvide name="sortable-index" :value="index">
            <slot v-bind="{ item, index }" />
        </VfProvide>
    </template>
</template>
