<script lang="ts" setup>
import type { Entity } from "@/vf"
import { inject, type Ref } from "vue"

function arrayMove(arr: Entity[], oldIndex: number, newIndex: number) {
    arr.splice(newIndex, 0, arr.splice(oldIndex, 1)[0])
}

const items = inject<Ref<Entity[]>>("sortable-items")!
const index = inject<Ref<number>>("sortable-index")!
</script>

<template>
    <button
        type="button"
        class="btn btn-secondary btn-sm"
        :disabled="index === 0"
        @click="arrayMove(items, index, index - 1)"
    >
        <i class="fa fa-fw fa-chevron-up"></i>
    </button>
    <button
        type="button"
        class="btn btn-secondary btn-sm"
        :disabled="index === items.length - 1"
        @click="arrayMove(items, index, index + 1)"
    >
        <i class="fa fa-fw fa-chevron-down"></i>
    </button>
    <button type="button" class="btn btn-danger btn-sm" @click="items.splice(index, 1)">
        <span v-t="'common:collection.delete'"></span>
        <i class="fa fa-fw fa-trash"></i>
    </button>
</template>
