<script lang="ts" setup>
import { injectMandatory, useModuleAction, type Entity } from "@/vf"

const item = injectMandatory<Entity>("item", "VfEditButton requires an item to be injected")
const moduleAction = useModuleAction()
</script>

<template>
    <button class="btn btn-primary" @click="moduleAction.open(item, 'edit')">
        <i class="fa fa-fw fa-pencil"></i>
        <span v-t="'crud:button.edit'"></span>
    </button>
</template>
