<script setup lang="ts">
import { generatePassword } from "../../utils"

const emit = defineEmits<{
    (e: "generated", password: string): void
}>()

function generate() {
    emit("generated", generatePassword())
}
</script>

<template>
    <button type="button" class="btn btn-warning" @click="generate()">
        <i class="fa fa-fw fa-cogs"></i>
        {{ $t("common:elements.password.generate_random_password") }}
    </button>
</template>
