<script setup lang="ts">
import { toRefs } from "vue"
import { usePasswordValuation } from "./usePasswordValuation"

const props = defineProps<{
    password: string
}>()

const { password } = toRefs(props)

const { strength } = usePasswordValuation(password)
</script>

<template>
    <div class="password-valuation">
        <div class="password-very-weak" :class="{ active: strength >= 0 }"></div>
        <div class="password-weak" :class="{ active: strength >= 1 }"></div>
        <div class="password-medium" :class="{ active: strength >= 2 }"></div>
        <div class="password-good" :class="{ active: strength >= 3 }"></div>
        <div class="password-strong" :class="{ active: strength >= 4 }"></div>
        <div class="password-very-strong" :class="{ active: strength >= 5 }"></div>
    </div>
    <div class="text-muted">
        <span v-if="strength === 0" class="text-danger">{{ $t("common:elements.password.valuation.str-0") }}</span>
        <span v-if="strength === 1" class="text-danger">{{ $t("common:elements.password.valuation.str-1") }}</span>
        <span v-if="strength === 2" class="text-warning">{{ $t("common:elements.password.valuation.str-2") }}</span>
        <span v-if="strength === 3" class="text-success">{{ $t("common:elements.password.valuation.str-3") }}</span>
        <span v-if="strength === 4" class="text-success">{{ $t("common:elements.password.valuation.str-4") }}</span>
        <span v-if="strength === 5" class="text-success">{{ $t("common:elements.password.valuation.str-5") }}</span>
    </div>
</template>
