.wait-loading-parent {
    min-height: 30px;
    position: relative;
    .wait-loading {
        text-align: center;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        font-size: 20px;
        &:before {
            // bg shadow. pseudo element to not apply opacity to spinner
            position: absolute;
            display: block;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            content: "";
            background-color: #222;
            opacity: 0.7;
        }
    }
}
