$toasts-z-index: 1000 !default;
$toasts-position-x-location: right !default;
$toasts-position-x-value: 10px !default;
$toasts-position-y-location: top !default;
$toasts-position-y-value: 10px !default;

//
// Toasts
//
flying-toasts {
    width: 25vw;
    z-index: $toasts-z-index;

    @include media-breakpoint-up(lg) {
        position: fixed;
        #{$toasts-position-y-location}: $toasts-position-y-value;
        #{$toasts-position-x-location}: $toasts-position-x-value;
    }
}
